Repository leffe2/suburi, pull requests merged in 2020-02, with the labels that each got.

#58 【kiso】【clinux】コンパイルとリンクの基礎
  kiso/clinux/trans_ex1.c
  kiso/clinux/trans_ex2.c
  kiso/clinux/trans_ex2.h
  kiso/clinux/trans_ex2b.c
  kiso/clinux/trans_ex3.c
  kiso/clinux/trans_ex3b.c
  kiso/clinux/trans_ex4.c
Labels: Linux技術者のためのC言語入門

#59 【kiso】【clinux】printfとstdoutについて
  kiso/clinux/stdout.c
  kiso/clinux/stdout_fileno.c
Labels: Linux技術者のためのC言語入門

#60 【kiso】【clinux】printfの出力先 「フォア・グラウンド」と「バック・グラウンド」の違い
  kiso/clinux/printf_background.c
  kiso/clinux/printf_normal.c
Labels: Linux技術者のためのC言語入門

#61 【kiso】【clinux】printfのオーバー・ヘッド
  kiso/clinux/printf_ex1.c
  kiso/clinux/printf_ex2.c
Labels: Linux技術者のためのC言語入門

#64 【kiso】【clinux】ファイル・システムとは
  kiso/clinux/file_ex1.c
Labels: Linux技術者のためのC言語入門

#65 【kiso】【clinux】ファイル操作のプログラムの改善
  kiso/clinux/file_ex2.c
Labels: Linux技術者のためのC言語入門

#66 【kiso】【clinux】ファイルシステムとファイルのリネームの落とし穴、あとFs(ファイルシステム)の操作機能
  kiso/clinux/file_ex3.c
Labels: Linux技術者のためのC言語入門

#67 【knowhow】vimの設定を変更する
  knowhow/vim/.vim/.netrwhist
  knowhow/vim/.vim/autoload/cfi.vim
  knowhow/vim/.vim/doc/cfi.txt
  knowhow/vim/.vim/ftplugin/bash/cfi.vim
  knowhow/vim/.vim/ftplugin/c/cfi.vim
  knowhow/vim/.vim/ftplugin/elixir/cfi.vim
  knowhow/vim/.vim/ftplugin/go/cfi.vim
  knowhow/vim/.vim/ftplugin/javascript/cfi.vim
  knowhow/vim/.vim/ftplugin/perl/cfi.vim
  knowhow/vim/.vim/ftplugin/php/cfi.vim
  knowhow/vim/.vim/ftplugin/python/cfi.vim
  knowhow/vim/.vim/ftplugin/ruby/cfi.vim
  knowhow/vim/.vim/ftplugin/sh/cfi.vim
  knowhow/vim/.vim/ftplugin/sql/cfi.vim
  knowhow/vim/.vim/ftplugin/vim/cfi.vim
  knowhow/vim/.vim/ftplugin/zsh/cfi.vim
  knowhow/vim/.vim/plugin/cfi.vim
  knowhow/vim/.vim/plugin/gtags.vim
  knowhow/vim/.vimrc
Labels: vim

#68 【kiso】【clinux】割り込み処理について
  kiso/clinux/ex1_signal.c
  kiso/clinux/ex2_signal.c
Labels: Linux技術者のためのC言語入門

#69 【knowhow】vimの設定を変更する
  knowhow/vim/.vim/.netrwhist
  knowhow/vim/.vimrc
Labels: vim

#70 【kiso】【clinux】シグナル発生時のシステム・コール再実行
  kiso/clinux/ex3_signal.c
  kiso/clinux/ex4_signal.c
  kiso/clinux/ex5_signal.c
Labels: Linux技術者のためのC言語入門

#71 【kiso】【clinux】マルチプロセスでの排他制御
  kiso/clinux/process.c
  kiso/clinux/process_done.c
  kiso/clinux/process_info
  knowhow/CodeReadingMethod/CodeReadingMethod.md
Labels: Linux技術者のためのC言語入門

#72 【lib】よく使うマクロについて
  lib/common_macro.h
Labels: 作ってみた

#73 【kiso】【clinux】マルチスレッドでの排他制御
  kiso/clinux/thread.c
  kiso/clinux/thread_mutex.c
Labels: Linux技術者のためのC言語入門

#74 【knowhow】vimの設定を変更する
  knowhow/vim/.vimrc
Labels: vim

#75 【knowhow】gitコミットlogの見方について
  knowhow/git/git_cmd.md
Labels: git

#76 【kiso】【clinux】スレッドのメモリリークについて
  kiso/clinux/thread_leak.c
Labels: Linux技術者のためのC言語入門

#77 【kiso】【clinux】スレッドセーフについて
  kiso/clinux/localtime.c
Labels: Linux技術者のためのC言語入門

#78 【kiso】【clinux】マルチスレッドとforkについて
  kiso/clinux/thread_fork.c
Labels: Linux技術者のためのC言語入門

#79 【kiso】【clinux】　C99について
  kiso/clinux/comp_literal.c
  kiso/clinux/comp_literal2.c
  kiso/clinux/func.c
  kiso/clinux/inline.c
  kiso/clinux/int_type.c
Labels: Linux技術者のためのC言語入門

#82 【kiso】【EmbedC】配列の領域外へのアクセス
  kiso/EmbedC/outOfAry.c
Labels: 効率のよい組込みC言語プログラミング

#83 【kiso】【EmbedC】数値の偶数化、奇数化
  kiso/EmbedC/changeEven.c
  kiso/EmbedC/changeOdd.c
Labels: 効率のよい組込みC言語プログラミング

#84 【kiso】【EmbedC】ビット検索
  kiso/EmbedC/get_no.c
  kiso/EmbedC/get_no2.c
Labels: 効率のよい組込みC言語プログラミング
